<---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Tridix | Ubicanos">
  <main class="!mb-8">
    <section>
      <h2 class="text-center text-2xl font-black pt-4">Ubicanos</h>
      
        <div class="flex rounded-xl overflow-hidden shadow-lg hover:shadow-xl w-fit m-auto    justify-center p-8 ">
          <iframe src="https://www.google.com/maps/embed?pb=!3m2!1ses!2smx!4v1749576302277!5m2!1ses!2smx!6m8!1m7!1s-wE1s3T9GMiUXcYRl9VDlw!2m2!1d19.43888674004237!2d-99.15366610905447!3f161.40463561133853!4f1.0123584617115995!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="px-8 flex flex-col justify-center text-left w-[40ch] gap-1">
            <h3 class="font-normal text-base grid grid-cols-3"><b>Nombre del local:</b> 
              <span class="col-span-2">Esencia y Perfumes OP</span></h3> 
            <h3  class="font-normal text-base grid grid-cols-3"><b>Dirección:</b>  <span class="col-span-2"> Av. México-Tenochtitlán 70, Tabacalera, Cuauhtémoc, 06030 Ciudad de México, CDMX</span></h3>
            <h3  class="font-normal text-base grid grid-cols-3"><b>Teléfono:</b>  <span class="col-span-2"> +52 5522984272</span></h3> 
            <h3  class="font-normal text-base grid grid-cols-3"><b>Email:</b>  <span class="col-span-2"> tridix.3d@gmail.com</span></h3> 
            <h3  class="font-normal text-base grid grid-cols-3"><b>Preguntar por:</b>  <span class="col-span-2"> Omar Toledo</span></h3> 
            <h3  class="font-normal text-base grid grid-cols-3"><b>Horario:</b>  <span class="col-span-2"> Lunes a Viernes de 10:00 a 21:00</span></h3>
            <h3  class="font-normal text-base grid grid-cols-3"><b></b>  <span class="col-span-2"> Sab de 11:00 a 19:00</span></h3>  
          </div>
          
      </div>

    
    </main>

</Layout>