---
interface Props {
	title: string;
}

const { title } = Astro.props;
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Imprime tus diseños cono nosotros utilizando los mejores materiales." />
		<meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">   
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

	</head>
	<body>
    <header class="p-4">
      
        <div class="flex items-center justify-center flex-col gap-2">
          <img  src="/logo-white.svg" alt="Logo Tridix" class="h-12 ">
          <h2 class="upercase text-center text-sm font-semibold pb-4 font-sans text-[var(--color-on-surface)]">Imprime lo que quieras</h2>
        </div>
      <nav class="flex items-center justify-center gap-4 text-[var(--color-on-surface)]">
        <ul class="flex items-center gap-4 ">
          <li><a href="/">Inicio</a></li>
          <li><a href="/ubicanos">Ubicanos</a></li>
        </ul>
      </nav>
      <hr class="m-auto border-b-[var(--color-on-surface)] opacity-5 border-1 w-1/3 shadow-sm shadow-black">
  </header>
		<slot />
    <footer class="bg-[var(--color-on-surface)] text-white py-16">
      <section class="px-4 flex flex-col items-center">
        <h2 class="font-black uppercase text-center  text-lg pt-4 pb-1.5 text-[var(--color-secondary)]">Redes Sociales</h2>

        <div class="flex items-center flex-row gap-4  ">
       
          <a href="https://www.instagram.com/tridix.3d/" target="_blank" rel="noreferrer noopener"  class="hover:text-[var(--color-surface)] text-[var(--color-secondary)] duration-200 active:text-[var(--color-surface)] flex flex-col items-center" >
            <svg  xmlns="http://www.w3.org/2000/svg"  width="30"  height="30"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M16.5 7.5v.01" /></svg>
            <p>Instagram</p>
          </a>
          


        
          <a href="https://www.facebook.com/profile.php?id=61574915983294" target="_blank" rel="noreferrer noopener"  class="hover:text-[var(--color-surface)] text-[var(--color-secondary)] duration-200 active:text-[var(--color-surface)] flex flex-col items-center" >
            <svg  xmlns="http://www.w3.org/2000/svg"  width="30"  height="30"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
            <p>Facebook</p>
          </a>
          
          <a href="https://www.tiktok.com/@tridix3" target="_blank" rel="noreferrer noopener"  class="hover:text-[var(--color-surface)] text-[var(--color-secondary)] duration-200 active:text-[var(--color-surface)] flex flex-col items-center" >
            <svg  xmlns="http://www.w3.org/2000/svg"  width="30"  height="30"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-tiktok"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z" /></svg>
            <p>TikTok</p>
          </a>
        
      </div>

      </section>





      <section class="px-4 flex flex-col items-center">
        <h2 class="font-black uppercase text-center  text-lg pt-8 pb-1.5  text-[var(--color-secondary)] ">Patrocinadores</h2>

        <div class="flex flex-col sm:flex-row items-center  sm:gap-8 ">

          <a class='font-normal  text-[var(--color-secondary)] active:text-[var(--color-primary)] text-base hover:text-[var(--color-surface)] text-center  duration-200' href="https://cuantumcode.netlify.app" target="_blank" rel="noreferrer noopener"  >CuantumCode</a>
          <a class='font-normal  text-[var(--color-secondary)] active:text-[var(--color-primary)] text-base hover:text-[var(--color-surface)] text-center  duration-200' href="https://www.facebook.com/OnlineTecnoAyuda" target="_blank" rel="noreferrer noopener"  >TecnoAyuda</a>
          <a class='font-normal  text-[var(--color-secondary)] active:text-[var(--color-primary)] text-base hover:text-[var(--color-surface)] text-center  duration-200' href="https://soyluisaguilar.com" target="_blank" rel="noreferrer noopener"  >LuisAguilar</a>
        </div>
        </section>
      </footer>
    </body>
    </html>
